numpy>=1.23.5
pytest>=7.4.3
pytest-html
pytest-cov
flake8
black
isort
pre-commit
brahe @ git+https://github.com/duncaneddy/brahe@d51764092a1b423a99ac25dd47aaa100b53a21e3
meshcat>=0.3.2
scipy>=1.3.3
spaceweather==0.2.3
nrlmsise00==0.1.2
pandas==2.0.3
pyIGRF==0.3.3